/* xra todos los HTML */
header {
    position: fixed;
    z-index: 999;
    img {
        height: 45px;
    }
    ul {
        margin-top: 5px;
        padding-bottom: 5px;
    }
    li {
        margin-left: 10px;
    }
    li:hover {
        background-color: $light;
        color: white;
        border-radius: 7px;
        transition: .5s;
    }
    .active {
        font-weight: bold;
    }
}

main {
    margin-top: 70px;
}

section {
    margin: 50px 0;
}

footer {
    div {
        a {
            img {
                border-radius: 100%;
            }
        }
    }

    }
