/* Mis variables */
$primary: #62c7e6;
$primary-light: #c0f0ff;
$primary-dark: #55b0cc;

$secondary: #FFDE59;
$secondary-light: #ffe88d;
$secondary-dark: #fdd32a;

$lightest: #f5f5f5;
$light: #f1f1f1;
$medium: #dddddd;
$dark: #121212;