/* Importo los archivos parciales de estilos SCSS */
@import "variables", "generales", "inicio", "quienessomos", "colaborar", "nuestrasmanos";

/* Importar Bootstrap CSS en este archivo */
@import "../node_modules/bootstrap/scss/bootstrap";

/* Estos comandos encarpetados no funcionan */
body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}

.seccion_nosotros {
    margin-top: 100px;
}
/* 
.seccion_faq {
    h2 {
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;
    }
        .accordion-item {
            background-color: #f5f5f5;
        }
} */